@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body { 
  background-color:#374152;
}

.display{
  background-color:#1F2939;
  font-family: 'Montserrat', sans-serif;
  color: white;
  /* padding: 15px; */
  height: 55px;
  width: 300px;
  text-align: right;
  font-size: 25px;
  border: 1.75px solid #121A2A;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.display p {
  margin-top:20px;
  margin-right: 10px;
}
.buttons-container{
  width: 280px;
  border: 1.75px solid #121A2A;
  background-color:#1F2939;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

button {
  padding: 10px;
  width: 67px;
  height: 45px;
  margin-top: 10px;
  background-color:#6B7381;
  color: #1E2836;
  font-size: 20px;
  border:none;
  border-radius:50px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  margin-right:5px;
}

#r1-1, #r1-2{
  background-color: #3C82F7;
}
#r5-1{
  background-color: #3C82F7;
}

#r1-3, #r2-4, #r3-4, #r4-4, #r5-2{
  background-color: rgb(140,92,248);
}

.flex {
  display: flex;
}

#r1-1, #r5-2 {
  flex: 1;
}

.calculator-container{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button:hover,#r1-1:hover, #r5-2:hover,#r1-2:hover, #r2-4:hover, #r3-4:hover, #r4-4:hover, #r5-2:hover, #r5-1:hover  {
  transition: 0.1s;
  background-color: rgb(182, 178, 178);
 }